@import "../../../style-utils/colors";

#award-header{
  height: 350px;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: '';
    background: url(~src/assets/awards.png) no-repeat center center/cover;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  h1 {
    z-index: 1;
    color: $deep-purple;
    font-family: $main-font;
    font-size: 4em;
  }
}

@media screen and (max-width: $small-screen){
  #award-header {
    height: 200px;

    h1{
      font-size: 2em;
    }
  }
}
