<div class="menu-wrap">
  <input (change)="changeChecked()" [checked]="isChecked" class="toggler" id="close-menu" type="checkbox">
  <div class="hamburger">
    <div></div>
  </div>
  <div class="menu">
    <div>
      <div>
        <ul>
          <li>
            <a [routerLinkActiveOptions]="{exact: true}" routerLink="/home" routerLinkActive="is-active">
              <i class="fas fa-home"></i>HOME</a>
          </li>
          <li>
            <a routerLink="/team" routerLinkActive="is-active"><i class="fas fa-user-friends"></i>RNAPOLIS TEAM</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-book"></i>PUBLICATIONS</a>
          </li>
          <li>
            <a routerLink="/award" routerLinkActive="is-active"><i class="fas fa-award"></i>AWARDS</a>
          </li>
          <li *ngIf="currentUser">
            <a (click)="logout()" class="nav-item nav-link"><i class="fas fa-sign-out-alt"></i>LOGOUT</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
