@import "../../../style-utils/consts";
@import "../../../style-utils/font-style";
@import "../../../style-utils/grid-style";

.error {
  @include center-items;
  text-align: center;
  width: 100%;
  height: 100vh;

  img {
    box-shadow: 0 6px 12px #00000029;
    opacity: 1;
    margin: 3em;
    width: 80vw;
  }

  h3 {
    @include main-purple-font;
    font-weight: $font-medium;
    font-size: $smaller-header-size;
    letter-spacing: 0.48px;
  }
}

@media screen and (max-width: $small-screen) {
  .error {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;

    img {
      max-width: 90vw;
      margin: 1em;
    }

    h3 {
      font-size: $normal-size;
    }

  }
}
