@import "../../../style-utils/consts";

#footer {
  border-top: $light-purple $footer-border-size solid;
  background-color: #ffffff;
  height: $footer-size;
  margin: 0 auto;
  padding: 0 6em;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  flex: 1;

  .put-logo {
    width: 40vw;
    height: $footer-size - 20px;
  }

  .ichb-logo {
    width: 100px;
    max-width: 100px;
    height: $footer-size - 20px;
  }
}

@media screen and (max-width: $small-screen) {
  #footer {
    padding: 0;
  }
}
