@import "../../../style-utils/consts";

#footer {
  border-top: $light-purple $footer-border-size solid;
  background-color: #ffffff;
  flex-shrink: 0;
}

.footer-container {
  height: $footer-size;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
  max-width: 50%;
  margin: 0 auto;
  align-items: center;

  a img {
    padding-top: 10px;
    width: 100%;
    height: $footer-size - 20px;
  }
}

@media screen and (max-width: $medium-screen) and (min-width: $small-screen) {
  .footer-container {
    max-width: 75%;
  }
}

@media screen and (max-width: $small-screen) {
  .footer-container {
    max-width: 100%;
    margin: 0.5em;

    > img {
      transform: scale(0.8);
    }
  }
}
