@import "../../../../style-utils/font-style";
@import "../../../../style-utils/grid-style";
@import "../../../../style-utils/consts";

.tool {
  margin: 0 auto 5em auto;
  padding: 2em 0;
  border: 3px solid $primary-color;
  background: url(~src/assets/tool_1.jpg) no-repeat center center scroll;
  background-size: cover;
  position: relative;
  width: 100%;

  .edit-manager {
    @include edit-manager;
    position: absolute;
    right: 0;
    top: 0;
  }

  .tool-name {
    @include header-with-line;
    color: $deep-purple;
  }

  p {
    width: 50vw;
    padding: 2em;
    margin: 0 auto;
    text-align: center;
    font-size: $paragraph-size;
  }

  app-generic-button {
    @include center-items;
  }

}
@media screen and (max-width: $medium-screen) {
  .tool {
    .tool-name{
      font-size: $smaller-header-size-mobile;
    }
    p {
      font-size: $normal-size;
      padding: 1em;
    }
  }

}

@media screen and (max-width: $small-screen) {
  .tool {
    border: 0;
    border-top: 3px solid $primary-color;
    margin: 0 auto 2em auto;

    p {
      width: 100vw;
      padding: 2em;
      text-align: justify;
    }
  }
}
