<div *ngIf="!canEdit" class="tool">
<!--  <app-generic-button (click)="editTool()" *ngIf="!canEdit" content="Edit"></app-generic-button>-->
  <div class="edit-manager">
    <button mat-fab color="warn" (click)="deleteTool()" *ngIf="!canEdit">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-fab (click)="editTool()" *ngIf="!canEdit">
      <mat-icon>edit</mat-icon>
    </button>
  </div>

  <h2 class="tool-name">{{tool.toolName}}</h2>
  <p>{{tool.description}}</p>
  <app-generic-button (click)="redirectToUrl(tool.link)" content="{{tool.toolName}}"></app-generic-button>
</div>

