@import "../../style-utils/consts";

@mixin align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-section {
  @include align-center;
  padding: 10em 0;
  width: 100%;
  height: 100%;

  .rectangle {
    width: 55vw;
    height: 75vh;
    background-color: $light-purple;
    position: absolute;
    left: 30vw;
    z-index: -2;
  }

  .description {
    @include align-center;
    z-index: 1;
    width: 75%;

    img {
      object-fit: cover;
      height: 50vh;
      width: 45%;
    }

    div {
      padding: 1.5em;
      font-family: $main-font;
      color: $primary-color;

      h2 {
        font-size: $smaller-header-size;
        text-transform: uppercase;
      }

      p {
        margin-top: 2em;
        padding-right: 1em;
        font-size: $paragraph-size;
      }
    }
  }
}

@media screen and (max-width: $medium-screen) {
  .details-section {
    .rectangle {
      width: 65vw;
      height: 70vh;
      left: 10em;
    }

    .description {
      div {
        h2 {
          font-size: $smaller-header-size-mobile;
        }

        p {
          font-size: $normal-size;
        }
      }
    }
  }
}

@media screen and (max-width: $small-screen) {
  .details-section {
    padding: 0 0 2em 0;

    .rectangle {
      display: none;
    }

    .description {
      display: block;
      width: 100%;
      position: inherit;

      img {
        width: 100%;
        height: 45vh;
      }

      div h2 {
        font-size: $header-size-mobile;
        background-color: $light-purple;
      }
    }
  }
}
