<app-main-header></app-main-header>
<div id="main-section">
  <section class="details-section">
    <div class="rectangle"></div>
    <div class="description">
      <img alt="lab-image" src="assets/lab.jpg">
      <div>
        <h2>One place</h2>
        <h2>All desired links</h2>
        <p>Bioinformatics helps researchers ask increasingly complex questions in a systems-wide approach, allowing
          for the analysis of complex networks and pathways of protein interactions.</p>
      </div>
    </div>
  </section>

  <section id="tools">
    <mat-form-field *ngIf="tools?.length">
      <mat-label>Filter</mat-label>
      <mat-select [(value)]="selectedCategory">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let category of categories" [value]="category">
          {{category}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button (click)="addTool()" *ngIf="user" mat-raised-button>
      <mat-icon>add</mat-icon>
      Add tool
    </button>
    <button (click)="changeOrder()" *ngIf="user && !changeOrderOption" mat-raised-button>
      <mat-icon>reorder</mat-icon>
      Change tools order
    </button>
    <button (click)="saveOrder()" *ngIf="user && changeOrderOption" mat-raised-button>
      <mat-icon>save</mat-icon>
      Save order
    </button>


    <div (cdkDropListDropped)="changeOrderAndMove($event)" *ngIf="changeOrderOption" cdkDropList class="tool-list">
      <app-tool *ngFor="let tool of tools | toolFilter: selectedCategory"
                [categories]="categories" [changeOrder]="changeOrderOption" [tool]="tool" cdkDrag>
        <div *cdkDragPlaceholder class="tool-placeholder"></div>
      </app-tool>
    </div>

    <div *ngIf="!changeOrderOption">
      <app-tool (toolChanged)="refreshTool($event)" (toolRemoved)="removeTool($event)"
                *ngFor="let tool of tools | toolFilter: selectedCategory"
                [categories]="categories" [tool]="tool"></app-tool>
    </div>
  </section>
</div>
