<h1 mat-dialog-title>Publication</h1>
<div [formGroup]="form" mat-dialog-content>
  <mat-form-field>
    <input formControlName="authors" placeholder="Author(s)" matInput/>
    <mat-error *ngIf="hasError('authors', 'required') || hasError('authors', 'whitespace')">
      Author is required
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input formControlName="year" placeholder="Year" maxlength="4" matInput/>
    <mat-error *ngIf="hasError('year', 'required')">Year is required</mat-error>
    <mat-error *ngIf="hasError('year', 'minlength')">Year must be 4 characters long</mat-error>
    <mat-error *ngIf="hasError('year', 'pattern')">Only digits</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input formControlName="title" placeholder="Title" matInput/>
    <mat-error *ngIf="hasError('title', 'required') || hasError('title', 'whitespace')">
      Title is required
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input formControlName="editors" placeholder="Editor(s)" matInput/>
  </mat-form-field>

  <mat-form-field>
    <input formControlName="journal" placeholder="Journal or book title" matInput/>
    <mat-error *ngIf="hasError('journal', 'required') || hasError('journal', 'whitespace') ">
      Journal or book title is required
    </mat-error>

  </mat-form-field>

  <mat-form-field>
    <input formControlName="volumeIssue" placeholder="Volume and issue" matInput/>
  </mat-form-field>

  <mat-form-field>
    <input formControlName="publishers" placeholder="Publisher(s)" matInput/>
  </mat-form-field>

  <mat-form-field>
    <input formControlName="pages" placeholder="Page(s)" matInput/>
  </mat-form-field>

  <mat-form-field>
    <input formControlName="link" placeholder="Link" matInput/>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button (click)="cancelClicked()" mat-button>Cancel</button>
  <button (click)="saveClicked()" color="primary" mat-raised-button>Save</button>
</div>
