$base-color: #925F97;
$primary-color: #5D174D;
$menu-background: rgba(#4C667F,0.9);
$icon-color: #F27E88;
$purple: #5D174D;

$main-font: "Montserrat", sans-serif;

$normal-size: 1em;
$small-size: 0.875em;

$small-screen: 450px;
$medium-screen: 900px;
