$base-color: #925F97;
$primary-color: #5D174D;
$deep-purple: #4F005F;
$menu-background: rgba(#4C667F,0.9);
$icon-color: #F27E88;
$base-color: #925F97;
$light-purple: #EFE1F1;

$main-font: "Montserrat", sans-serif;
$team-member-title-font: "Raleway", sans-serif;
$team-member-description-font: "Didact Gothic", sans-serif;

$header-size: 4rem;
$smaller-header-size: 3rem;
$header-size-mobile: 2rem;
$smaller-header-size-mobile: 1.5rem;
$title-size: 1.375em;
$normal-size: 1rem;
$paragraph-size: 1.3rem;
$small-size: 0.875rem;
$extra-small-size: 0.75rem;

$menu-button-size: 3.75em;

$small-screen: 450px;
$medium-screen: 900px;
$extra-small-screen:330px;

$font-thin: 100;
$font-extra-light: 200;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;
$font-extrabold: 800;

