@import "consts";
@mixin main-purple-font{
  color: $deep-purple;
}

@mixin h1-header {
  @include main-purple-font;
  font-size: $header-size;
}

@mixin main-header {
  @include main-purple-font;
  font-size: $header-size;
}

@mixin header-with-line {
  font-size: $smaller-header-size;
  padding: 1.25em 0;
  color: $deep-purple;

  &::before {
    margin-bottom: -0.5em;
    content: "";
    display: inline-block;
    width: 55%;
    height: 100%;
    margin-right: -50%;
    border-bottom: 0.5em solid $light-purple;
  }
}
