@mixin center-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin edit-manager {
  display: flex;
  flex-direction: column;
  float: right;

  button{
    margin-bottom: 0.5em;
  }
}
