@import "../../style-utils/font-style";
@import "../../style-utils/grid-style";

#timeline {
  width: 75vw;
  margin: 0 auto;

  .add-button {
    margin: 1em 0;
  }

  mat-card {
    margin: 3em auto;
    border-width: 1em 2em 1em 0;
    border-color: transparent #ffffff transparent transparent;
    -webkit-filter: drop-shadow(0 0 0.75em rgba(0, 0, 0, .16));
    filter: drop-shadow(0 0 0.75em rgba(0, 0, 0, .16));

    h3 {
      @include header-with-line;

      i {
        color: gold;
        margin-right: 0.5em;
      }
    }

    p {
      font-size: $paragraph-size;
      text-align: justify;
      padding: 1em;
    }

    .edit-manager {
      @include edit-manager;
    }
  }

  &.edit mat-form-field {
    display: block;

    textarea {
      min-height: 8em;
    }
  }
}

@media screen and (max-width: $medium-screen) {
  #timeline {
    .edit-manager button {
      margin: 0 0 0.5em;
    }

    mat-card {
      p {
        text-align: left;
        font-size: $normal-size;
      }
    }
  }
}

@media screen and (max-width: $small-screen) {
  #timeline {
    width: 100vw;
    .add-button {
      margin: 1em;
    }
    mat-card {
      margin: 1em;

      p {
        text-align: left;
      }

      h3, i {
        font-size: $header-size-mobile;

        i {
          margin-right: 0.25em;
        }
      }
    }
  }
}
