<app-menu></app-menu>
<app-header content="Awards" imagePath="assets/awards.png"></app-header>

<section id="timeline">
  <button mat-raised-button (click)="addAward()" *ngIf="canEdit">
    <mat-icon>add</mat-icon> Add award
  </button>
  <ul>
    <li *ngFor="let award of awards ; first as isFirst" [ngClass]="{'show': isFirst}">

      <div class="award-content">
        <div *ngIf="canEdit" class="edit-manager">
          <button (click)="deleteElement(award)" color="warn" mat-fab>
            <mat-icon>delete</mat-icon>
          </button>
          <button (click)="editAward(award)" mat-fab>
            <mat-icon>edit</mat-icon>
          </button>
        </div>

        <h3>{{award.year}}</h3>
        <p>{{award.description}}</p>
        <i class="fas fa-trophy"></i>
      </div>

    </li>
  </ul>
</section>
