<app-header content="Awards" imagePath="assets/awards.png"></app-header>

<section id="timeline">
  <button (click)="addAward()" *ngIf="user" class="add-button" mat-raised-button>
    <mat-icon>add</mat-icon>
    Add award
  </button>

  <mat-card *ngFor="let award of awards">
    <div *ngIf="user" class="edit-manager">
      <button (click)="deleteElement(award)" color="warn" mat-fab>
        <mat-icon>delete</mat-icon>
      </button>
      <button (click)="editAward(award)" mat-fab>
        <mat-icon>edit</mat-icon>
      </button>
    </div>

    <h3><i class="fas fa-trophy"></i>{{award.year}}</h3>
    <p>{{award.description}}</p>
  </mat-card>
</section>
