<header id="showcase">
  <div class="showcase-container">
    <h1>Welcome to RNAPolis</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium sunt nisi vitae et quia possimus
      unde
      tempora, sapiente rem aliquid assumenda nostrum sint nulla aspernatur, molestias cum quae. Tempora,
      illo.
    </p>
    <a href="#" class="btn">Read More</a>
  </div>
</header>

<section>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aliquam cupiditate eligendi est excepturi itaque optio reprehenderit temporibus tenetur voluptatem. A accusantium delectus dolores expedita libero odio, quaerat quod temporibus? </p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aliquam cupiditate eligendi est excepturi itaque optio reprehenderit temporibus tenetur voluptatem. A accusantium delectus dolores expedita libero odio, quaerat quod temporibus? </p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aliquam cupiditate eligendi est excepturi itaque optio reprehenderit temporibus tenetur voluptatem. A accusantium delectus dolores expedita libero odio, quaerat quod temporibus? </p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aliquam cupiditate eligendi est excepturi itaque optio reprehenderit temporibus tenetur voluptatem. A accusantium delectus dolores expedita libero odio, quaerat quod temporibus? </p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aliquam cupiditate eligendi est excepturi itaque optio reprehenderit temporibus tenetur voluptatem. A accusantium delectus dolores expedita libero odio, quaerat quod temporibus? </p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aliquam cupiditate eligendi est excepturi itaque optio reprehenderit temporibus tenetur voluptatem. A accusantium delectus dolores expedita libero odio, quaerat quod temporibus? </p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aliquam cupiditate eligendi est excepturi itaque optio reprehenderit temporibus tenetur voluptatem. A accusantium delectus dolores expedita libero odio, quaerat quod temporibus? </p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aliquam cupiditate eligendi est excepturi itaque optio reprehenderit temporibus tenetur voluptatem. A accusantium delectus dolores expedita libero odio, quaerat quod temporibus? </p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aliquam cupiditate eligendi est excepturi itaque optio reprehenderit temporibus tenetur voluptatem. A accusantium delectus dolores expedita libero odio, quaerat quod temporibus? </p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aliquam cupiditate eligendi est excepturi itaque optio reprehenderit temporibus tenetur voluptatem. A accusantium delectus dolores expedita libero odio, quaerat quod temporibus? </p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aliquam cupiditate eligendi est excepturi itaque optio reprehenderit temporibus tenetur voluptatem. A accusantium delectus dolores expedita libero odio, quaerat quod temporibus? </p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aliquam cupiditate eligendi est excepturi itaque optio reprehenderit temporibus tenetur voluptatem. A accusantium delectus dolores expedita libero odio, quaerat quod temporibus? </p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aliquam cupiditate eligendi est excepturi itaque optio reprehenderit temporibus tenetur voluptatem. A accusantium delectus dolores expedita libero odio, quaerat quod temporibus? </p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aliquam cupiditate eligendi est excepturi itaque optio reprehenderit temporibus tenetur voluptatem. A accusantium delectus dolores expedita libero odio, quaerat quod temporibus? </p>
</section>
