@import "../../../style-utils/colors";

.deleteBtn {
  background-color: $light-purple;
  border: none;
  color: white;
  padding: 1em 1em;
  font-size: 1.5em;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  margin: 0.5em;

  &:hover{
    background-color: red;
  }
  i {
    color: #000;
  }
}
