<div class="tool">
  <h2 class="tool-name">RNA FRABASE</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet animi aspernatur blanditiis culpa cumque dolores
    dolorum ducimus esse magnam pariatur, praesentium quae quasi quidem quo quod, ratione recusandae reiciendis.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet animi aspernatur blanditiis culpa cumque dolores
    dolorum ducimus esse magnam pariatur, praesentium quae quasi quidem quo quod, ratione recusandae reiciendis.
  </p>
  <app-generic-button content="RNA FRABASE"></app-generic-button>
</div>
