@import "../../style-utils/consts.scss";
@import "../../style-utils/grid-style.scss";

.board {
  width: 75vw;
  margin: 0 auto;
  padding: 3em 0;

  .add-button {
    margin-top: 2vh;
  }

  mat-card {
    overflow: hidden;
    padding: 2em;
    margin: 1em 0;
    border-width: 1em 2em 1em 0;
    border-color: transparent #ffffff transparent transparent;
    -webkit-filter: drop-shadow(0 0 0.75em rgba(0, 0, 0, .16));
    filter: drop-shadow(0 0 0.75em rgba(0, 0, 0, .16));

    .edit-manager {
      @include edit-manager;
      top: 0;
      right: 0;
      margin: 0.5em;
    }

    p {
      &:last-of-type {
        margin-top: 10px;
      }

      font-size: $normal-size;
    }
  }
}


@media screen and (max-width: $medium-screen) {
  .board mat-card {
    p {
      font-size: $normal-size;
    }
  }
}

@media screen and (max-width: $small-screen) {
  .board {
    width: 100vw;
    .add-button {
      margin: 1em;
    }
    mat-card {
      margin: 1em;

      p {
        text-align: left;
      }
    }
  }
}

