<app-header content="Publications" imagePath="assets/publications.png"></app-header>

<section class="board">
  <button mat-raised-button (click)="addElement()" *ngIf="canEdit" class="add-button">
    <mat-icon>add</mat-icon>
    Add publication
  </button>

  <mat-card *ngFor="let publication of publications">
    <div *ngIf="canEdit" class="edit-manager">
      <button (click)="deleteElement(publication)" color="warn" mat-fab>
        <mat-icon>delete</mat-icon>
      </button>
      <button (click)="editElement(publication)" mat-fab>
        <mat-icon>edit</mat-icon>
      </button>
    </div>


    <p> {{publication.title}},
      <span style="font-style: italic">{{publication.journal}}</span>
      {{publication.volumeIssue}},
      <span style="font-weight: bold">{{publication.year.toString()}}</span>,
      {{publication.pages}},
      {{publication.pages}}
    </p>
    <p> {{publication.authors}} </p>
  </mat-card >
</section>
