<div id="manager">
  <app-generic-button content="Edit" (click)="changeCanEdit()" *ngIf="!canEdit"></app-generic-button>
  <app-generic-button content="Save" *ngIf="canEdit" (click)="save()"></app-generic-button>
  <app-generic-button content="Add" *ngIf="canEdit" (click)="addAward()"></app-generic-button>
</div>

<section id="timeline">
  <ul>
    <li *ngFor="let award of awards ; first as isFirst" [ngClass]="{'show': isFirst}">
      <div *ngIf="!canEdit">
        <h3>{{award.year}}</h3>
        <p>{{award.description}}</p>
        <i class="fas fa-trophy"></i>
      </div>

      <div class="edit" *ngIf="canEdit">
          <mat-form-field>
            <input matInput [(ngModel)]="award.year" type="number" placeholder="Year">
          </mat-form-field>
          <mat-form-field>
            <textarea matInput [(ngModel)]="award.description" type="text" class="form-control"></textarea>
          </mat-form-field>
        <app-delete-button (click)="deleteElement(award)"></app-delete-button>
      </div>
    </li>
  </ul>
</section>
