@import "../../../style-utils/colors";

#timeline {
  ul {
    padding: 50px 0;

    li {
      list-style: none;
      position: relative;
      width: 10px;
      margin: 0 auto;
      padding-top: 50px;
      background: $light-purple;

      div {
        position: relative;
        bottom: 0;
        width: 400px;
        padding: 1rem;
        background: #ffffff;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16);
        transition: all 0.5s ease-in-out;
        visibility: hidden;
        opacity: 0;

        font-family: $main-font;
        color: $deep-purple;

        &.edit mat-form-field{
          display: block;

          textarea {
            min-height: 150px;
          }
        }

        h3 {
          font-size: 2em;
          padding-top: 20px;
          padding-bottom: 20px;

          &::before {
            margin-bottom: -8px;
            content: "";
            display: inline-block;
            width: 55%;
            height: 100%;
            margin-right: -50%;
            border-bottom: 9px solid $light-purple;
          }
        }

        p {
          font-size: 1em;
          text-align: justify;
          padding: 0 1em;
        }

        i {
          display: block;
          font-size: 4em;
          text-align: center;
          color: gold;
          margin: 0.5em auto;
        }

        app-delete-button {
          position: absolute;
          right: -45px;
          top: -45px;
        }
      }

      &:nth-child(odd) {
        div {
          left: 100px;
          transform: translate(200px, 0);

          &::before {
            left: -32px;
            border-width: 16px 32px 16px 0;
            border-color: transparent #ffffff transparent transparent;
            -webkit-filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, .16));
            filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, .16));
          }
        }
      }

      &:nth-child(even) {
        div {
          left: -500px;
          transform: translate(-200px, 0);

          &::before {
            right: -32px;
            border-width: 16px 0 16px 32px;
            border-color: transparent transparent transparent #ffffff;
            -webkit-filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, .16));
            filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, .16));
          }
        }
      }

      &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 50px;
        height: 50px;
        transform: translateX(-50%);
        border-radius: 50%;
      }

      &.show {
        div {
          transform: none;
          visibility: visible;
          opacity: 1;
        }

        &:after {
          background: $deep-purple;
        }
      }
    }
  }

  div {
    &::before {
      content: '';
      position: absolute;
      bottom: 45%;
      width: 0;
      height: 0;
      border-style: solid;
    }
  }
}


@media screen and (max-width: $medium-screen) {
  #timeline ul li {
    div {
      width: 250px;

      i {
        font-size: 3em;
      }
    }

    &:nth-child(even) div {
      left: -340px;
    }
  }
}

@media screen and (max-width: $small-screen) {
  #timeline ul li {
    margin-left: 1.5em;

    div {
      height: auto;

      p {
        text-align: left;
      }

      i {
        font-size: 2em;
      }
    }

    &:nth-child(odd) div {
      left: 4em;
      transform: translate(-100px, 0);
    }

    &:nth-child(even) div {
      left: 4em;

      &::before {
        left: -32px;
        border-width: 16px 32px 16px 0;
        border-color: transparent #ffffff transparent transparent;
        -webkit-filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, .16));
        filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, .16));
      }
    }

    &.show {
      div {
        transform: none;
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: $extra-small-screen) {
  #timeline ul li div {
    width: 200px;
  }
}
