<app-menu></app-menu>

<div class="login-wrapper">
  <mat-card class="box col-md-9 offset-md-3">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <mat-form-field class="full-width">
          <input matInput
                 placeholder="Username"
                 [formControl]="loginForm.controls.username">
          <mat-error *ngIf="!loginForm.hasError('required')">
            Please enter a username
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput
                 placeholder="Password"
                 type="password"
                 [formControl]="loginForm.controls.password">
          <mat-error *ngIf="!loginForm.hasError('required')">
            Please enter a password
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-error *ngIf="errorMessage"><p class="error-message">{{errorMessage}}</p></mat-error>
      <button class="full-width" mat-raised-button>Log in</button>
    </form>
  </mat-card>
</div>
