<h1 mat-dialog-title>Award</h1>
<div [formGroup]="awardForm" mat-dialog-content>
  <mat-form-field>
    <input formControlName="year" matInput placeholder="Year" maxlength="4">
    <mat-error *ngIf="hasError('year', 'required')">Year is required</mat-error>
    <mat-error *ngIf="hasError('year', 'pattern')">Year must be 4 numeric characters</mat-error>
  </mat-form-field>
  <mat-form-field>
    <textarea formControlName="description" matInput placeholder="Award description"></textarea>
    <mat-error *ngIf="hasError('description', 'required')">Description is required</mat-error>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button (click)="onNoClick()" mat-button>Cancel</button>
  <button (click)="save()" color="primary" mat-raised-button>Save</button>
</div>
