<app-header content="RNApolis team" imagePath="assets/team.png"></app-header>

<button mat-raised-button (click)="addElement()" *ngIf="canEdit" class="add-button">
  <mat-icon>add</mat-icon> Add team member
</button>

<section class="board">
  <div class="box" *ngFor="let teamMember of team" [ngStyle]="{'paddingTop': canEdit ? '70px':'default'}">
    <div *ngIf="canEdit" class="edit-manager">
      <button id="edit" (click)="editElement(teamMember)" mat-fab>
        <mat-icon>edit</mat-icon>
      </button>
      <button id="delete" (click)="deleteElement(teamMember)" color="warn" mat-fab>
        <mat-icon>delete</mat-icon>
      </button>
    </div>

    <img class="member-image" src="{{teamMember.imagePath}}" alt="Team member picture" (error)="setDefaultImage(teamMember)">
    <h3>{{teamMember.name.toUpperCase()}} {{teamMember.surname.toUpperCase()}}</h3>
    <h3>{{teamMember.position}}</h3>
    <p>{{teamMember.description}}</p>
  </div>
</section>
