@import "../../style-utils/consts.scss";


.add-button {
  margin-top: 2vh;
  margin-left: 10vw;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4vw;
  padding: 5vh 10vw;
}

.box {
  position: relative;
  text-align: center;
  height: 100%;
  min-height: 550px;
  width: 100%;
  border: $primary-color solid 2px;
  padding: 4vh 4vw;

  .edit-manager {
    width: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;

    button{
      margin: 0.5em;
    }

    #edit {
      float: left;
    }

    #delete {
      float: right;
    }
  }

  h3 {
    &:first-of-type {
      margin-top: 15px;
    }

    font-size: $title-size;
    font-family: $team-member-title-font
  }

  p {
    margin-top: 15px;
    font-size: $normal-size;
    font-family: $team-member-description-font
  }
}

.member-image {
  width: 15vw;
  height: 15vw;
  object-fit: cover;
  border-radius: 50%;
}

@media only screen and (max-width: $small-screen) {
  .board {
    grid-template-columns: 1fr;
    grid-gap: 5vh;
  }

  .box {
    padding: 10vw;
    min-height: auto;
  }

  .member-image {
    width: 40vw;
    height: 40vw;
  }
}

@media only screen and (min-width: $small-screen+1) and (max-width: $medium-screen) {
  .board {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6vw;
  }

  .box {
    padding: 6vw;
    min-height: 450px;

    font-size: 85%;
  }

  .member-image {
    width: 25vw;
    height: 25vw;
  }
}
