@import '../../style-utils/consts.scss';

.button-section > * {
  margin-right: 1em;
  margin-top: 1em;

  &:first-child {
    margin-left: 10vw;
  }
}

.shadow {
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
}

mat-spinner {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4vw;
  padding: 5vh 10vw;
  overflow: hidden;
}

.box {
  position: relative;
  text-align: center;
  height: 100%;
  min-height: 550px;
  width: 100%;
  border: $primary-color solid 2px;
  padding: 4vh 4vw;

  .edit-manager {
    position: absolute;
    top: 0;
    right: 0;

    button {
      margin: 0.5em;
    }
  }

  h3 {
    &:first-of-type {
      margin-top: 15px;
    }

    font-size: $title-size;
  }

  p {
    margin-top: 15px;
    font-size: $normal-size;
    font-family: $team-member-description-font
  }
}

.member-image {
  width: 15vw;
  height: 15vw;
  object-fit: cover;
  border-radius: 50%;
}

.member-order-list {
  width: 500px;
  max-width: 100%;
  margin: 1.5em auto;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  overflow: hidden;
}

.order-list-item {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: move;
}

.team-placeholder {
  background: #ccc;
  border: solid 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


@media only screen and (max-width: $small-screen) {
  .board {
    grid-template-columns: 1fr;
    grid-gap: 5vh;
  }

  .box {
    padding: 10vw;
    min-height: auto;
  }

  .member-image {
    width: 40vw;
    height: 40vw;
  }
  .button-section > * {
    margin-left: 10vw;
  }
}

@media only screen and (min-width: $small-screen+1) and (max-width: $medium-screen) {
  .board {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6vw;
  }

  .box {
    padding: 6vw;
    min-height: 450px;

    font-size: 85%;
  }

  .member-image {
    width: 25vw;
    height: 25vw;
  }
}
